<html>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
<%= nav_bar brand: "Loja", brand_link: root_url %>
<div class="container">
<body>
<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
    <thead>
        <tr>
            <td>Nome</td>
            <td>Descrição</td>
            <td>Preço</td>
            <td>Quantidade</td>
        </tr>
        </thead>
        <tbody>
        <% @produtos.each do |produto| %>
        <tr>
            <td><%= produto.nome %></td>
            <td><%= produto.descricao %></td>
            <td><%= produto.preco %></td>
            <td><%= produto.quantidade %></td>
        </tr>
          <% end %>
        </tbody>
</table>
<h3> Produtos com desconto </h3>
<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
  <thead>
  <tr>
    <td>Nome</td>
    <td>Descrição</td>
    <td>Preço</td>
    <td>Quantidade</td>
  </tr>
  </thead>
  <tbody>
  <% @produtos_com_desconto.each do |produto| %>
    <tr>
      <td><%= produto.nome %></td>
      <td><%= produto.descricao %></td>
      <td><%= produto.preco %></td>
      <td><%= produto.quantidade %></td>
    </tr>
  <% end %>
  </tbody>
</table>
</body>
</div>
</html>